<tr>
    <td align=""left"" style=""padding:0;padding-bottom:20px;word-break:break-word;"">
        <div
            style=""font-family: 'Ubuntu', sans-serif; font-size:22px; font-weight:bold; line-height:1.5; text-align:left;color:#ef3e64;"">
            <p>Você recebeu R$ ${amount} via transferência Pix com sucesso</p>
        </div>
    </td>
</tr>
<tr>
    <td align=""left"" style=""padding:0;padding-bottom:30px;word-break:break-word;"">
        <p>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            <b>Dados do pagador</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Nome: <b>${payerName}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            CPF/CNPJ: <b>${payerDocument}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Instituição: <b>${payerBankName}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Agência nº: <b>${payerBranch}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Conta nº: <b>${payerAccount}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Tipo: <b>${payerAccountType}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Data e hora: <b>${transactionDate} às ${transactionHour}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Descrição: <b>${payerAnswer}</b>
        </div>
        </p>
    </td>
</tr>
<tr>
    <td align=""left"" style=""padding:0;padding-bottom:30px;word-break:break-word;"">
        <p>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            <b>Dados do recebedor</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Nome: <b>${receiverName}</b>
        </div>
        <div style=""font-family: 'Ubuntu' , sans-serif;  font-size:16px; weight: 500; line-height:2.0; text-align:left; color:#231F20;"">
            Instituição: <b>${receiverBankName}</b>
        </div>
        </p>
    </td>
</tr>